<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mirum Landing Page</title>

    <meta name="group12" content="">
    <meta name="author" content="content">
    <script defer src="node_modules/swup/dist/swup.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
	<div class="row" id="titleRow">
		<div class="col-md-5" id="logoSquare">
            <h1 id="mirumTitle">Mirum</h1>
            <h3 id="mirumSlogan">ask the world</h3>
		</div>
		<div class="col-md-7" id="bookImage">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>
				Relax
			</h2>
			<p>
				We get it! Navigating a bunch of different websites to find that one right answer can be tough. With Mirum, you can easily find exactly what you are looking for with just a few clicks.
			</p>
			<p>
				<a class="btn" href="#"></a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Community
			</h2>
			<p>
				You're not alone! Someone in the past has dealt with the same problem that you're dealing with right now, and they've shared their answers with the world. Let Mirum find them so you can keep going.
			</p>
			<p>
				<a class="btn" href="#"></a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Learn more
			</h2>
			<p>
				Meet the Mirum team and learn more about us! We love what we do, and we want to share it with the world!
			</p>
			<p>
				<a class="btn" href="#"></a>
			</p>
		</div>
	</div>
	<class class="row">
		{{{body}}}
    </class>
	</div>
</div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>