<div class="col-md-5" id="signUpRow">
	<div id="signUpPitch">
		<h3>
			Sign up, start searching
		</h3>
		<p>
			Create an account with us to access a world of knowledge built by developers, for developers.
		</p>
	</div>
	<form role="form" id = "signUp-Form">
		<div class="form-group">
			<label for="inputEmail1">
				Email address
			</label>
			<input type="email" class="form-control" id="inputEmail1">
		</div>
		<div class="form-group">
				
			<label for="exampleInputPassword1">
				Password
			</label>
			<input type="password" class="form-control" id="inputPassword1">
		</div>
		<div class="checkbox">
		</div> 
		<button type="submit" class="btn btn-success">
			Sign up
		</button>
        
	</form>
</div>

<div class="col-md-2">
</div>

<div class="col-md-5" id="logInRow">
	<div id="logIn">
		<h3>
			Already a member?
		</h3>
		<p>
			Sign in, start your search, solve problems.
		</p>
	</div>
	<form role="form">
		<div class="form-group">
				
			<label for="inputEmail1">
				Email address
			</label>
			<input type="email" class="form-control" id="inputEmail2">
		</div>
		<div class="form-group">
				
			<label for="exampleInputPassword1">
				Password
			</label>
			<input type="password" class="form-control" id="inputPassword2">
		</div>
		<div class="checkbox">
		</div> 
		<button type="submit" class="btn btn-success">
			Log in
		</button>
		
	</form>
</div>

<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>