<div>
{{#each data}}
  <div class="card col-md-8 mx-auto" >
    <article class= "card-body" id = "resultsCard">
      <h5 class="card-title"><a href="{{link}}">{{title}}</a></h5>
      <div class="card-text text-wrap">
        <p>{{body}}</p>
        <p>Asked on: {{date}}</p>
      </div>
    </article>
  </div>
  {{/each}}
</div>