<div class="results">
  {{#each data}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2><a href="{{link}}">{{title}}</a></h2>
    </div>
    <div class="card-body">
      <p>{{body}}</p>
      <p>Asked on: {{date}}</p>
    </div>
  </article>
  {{/each}}
</div>